<% sender = message.sender == current_user %>


<div class="message <%= 'sender' if sender %> " id="message-<%= message.sender.id %>">
  <div>
    <small class="interlocutor-name">
      <strong><%= message.sender.username %></strong>
      <i id="date"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>

    <div class="message-container">
      <div class="triangle">
      </div>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
