<head>
  <link rel="stylesheet" href="user_gallery.scss">
</head>

<div class='user-banner'>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p>Bio: artichette, tichette de 2, tichette de 3, tichette de 21, michette, tchiledeque, mique,sganabadarlane, résiné et raitournelle..</p>
    <%# <p><%= @user.username %>
    <ol>
      <li><%= @user_pictures.count %> masterpieces</li>
      <% if @user == current_user %>
        <li>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newPhotoModal">
            Add photo
          </button>
        </li>
      <% else %>
        <li>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#collabModal">
            Collaborate
          </button>
        </li>
        <li>

          <%= link_to 'contact', chatroom_path(@single_chatroom) %>
        
        </li>
      <% end %>
      <li>Matériel: Kidizoom 🥲</li>
    </ol>
    <p class="tags">My Tags: </p>
</div>

<%= render 'modals' %>

<hr>

<div class="photo-behavior">
  <ul>
    <% @user_pictures.each do |pic| %>
      <li><%= cl_image_tag pic.photo.key %></li>
      <!-- % pic.categories.each do |category| %-->
        <!-- %= category.name %-->
      <!--% end %-->
    <% end %>
  </ul>
</div>
