<div class='user-banner'>
    <h1>
        <% if @artist1.photo.attached? %>
          <%= cl_image_tag @artist1.photo.key, class: "avatar"%>
        <% end %>
          <% if @artist2.photo.attached? %>
          <%= cl_image_tag @artist2.photo.key, class: "avatar"%>
        <% end %>
      <%= @collab.name %>
    </h1>
    <h2> <%= @artist1.username %> x <%= @artist2.username %></h2>
    <p>This is a collab' description</p>
    <ol>
      <li><%= @collab_pictures.count %> masterpieces</li>
      <% if current_user == @artist1 || current_user == @artist2 %>
        <li>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newPhotoModal">
            Add photo
          </button>
        </li>
      <% end %>
      <li>Matériel: Kidizoom 🥲</li>
    </ol>
    <p class="tags">Collab Tags: </p>
</div>

<% @collab_pictures.each do |pic| %>
  <%= cl_image_tag pic.photo.key %>
<% end %>
